.search-input-box > input {
    border-radius: 3px;
    overflow: hidden;
    height: 40px;
}
body{
    background-color: #f5f5f5;
}
.search-input-box .form-control:focus {
    border-width: 0px !important;

}
.search-input-box .search-button {
    position: absolute;
    right: 4px;
    top: 3px;
    background-color: var(--primary);
    padding: 7px 20px;
    border-radius: 3px;
}
.search-input-box > svg {
    position: relative;
    color: #fff;
}
.position-static-custom{
    position: absolute;
    right: 20px;
    top: -5px;
}
.img-fluid-custom {
    max-width: 100%;
    height: 176px;
}
.nav-user-info:hover .nav-user-img {
    border-color: #fff !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.featured-categories .slick-slide{
    border: 1px solid rgba(0, 0, 0, .05);;
}
.aiz-count-down-circle {

    padding: 0rem;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0);
}
.flesh-deal-discount-shopee{
    position: absolute;
    right: 0px;
    padding: 4px;
    z-index: 3;
    background-color: #ffd400;
}
.shopee-sellinf-fast{
    padding: 10px 20px;

    /*background-image: linear-gradient(to right,#ffd400  ,  #ffbda5);*/
    /*background: linear-gradient(90deg, #ffd400 10%, #ffbda5 90%);*/
    background: #ffbda6;
background: linear-gradient(90deg, #ee3113 0%, #ffbda6 30%, #ffbda6 22%);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
    border-radius: 12px;
}
.aiz-card-box:hover .aiz-p-hov-icon a {
    transform: translateX(calc(100% + 15px));
    -webkit-transform: translateX(calc(100% + 15px));
}
.aiz-card-box:hover .cart-btn {
    transform: translateY(100%);
}
.shopee-top-ptodict{
    display: inline-block;
    position: absolute;
    background-color: #FF6F3F;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 16px 8px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    z-index: 3;
}
.shopee .aiz-category-menu .sub-cat-menu{
    height: auto !important;
    width: 100% !important;
    }
#section_featured .shopee-top-ptodict{
display: none;
}
#section_featured .card-header{
    justify-content: center !important;
    border-bottom: 3px solid var(--primary);
}
#section_featured .col-xxl-2{
    padding-right: 5px;
    padding-left: 5px;
}


@media (max-width: 1280px) {
    .footer-widget .has-transition{
    width: 100px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
    .home-slider {
        max-width: 100% !important;
    }
}

@media (max-width: 991px) {
    .front-header-search {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        top: 0;
        right: 0;
        left: 0;
        opacity: 1;
        transform: translateY(0);
         -webkit-transform: translateY(0);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .search-input-box .search-button {
        padding: 4px 11px;
    }
    .search-input-box > input {
        height: 35px;
    }
}

@media (max-width: 767px) {
    .aiz-carousel .slick-next {
        opacity: 0;
    }
    .aiz-carousel .slick-prev {
        opacity: 0;
    }
}
